.wrap {
  & * {
    font-size: 1.2rem;
  }
}

.table {
  width: 100%;
  color: var(--fff);
  border-collapse: collapse;
  display: table;

  .header, .content {
    border: none;
    padding: 1rem 1.5rem;
    font-size: 0.75rem;
    color: #fff;
    border-bottom: 4px solid #41464c;
    text-align: center;
    cursor: pointer;
    @media (max-width: 680px) {
      padding: 0.5rem;
      line-height: 1;
    }
  }
  
  .header, .row {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .row:hover {
    background-color: rgba(white, .07);
  }
  .header {
    display: table-header-group;

    .content {
      font-weight: 700;
    }
  }
  .body {
    display: table-row-group;
  }
  .row {
    display: table-row;
  }
  .content {
    border-bottom: 3px solid #2b3035;
    display: table-cell;
  }

  @media (max-width: 1366px) {
    width: 90vw;
  }

}

